
@import url('https://cdnjs.cloudflare.com/ajax/libs/sanitize.css/2.0.0/sanitize.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto:300');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

*,
*::before,
*::after {
	box-sizing: border-box; 
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px; 
	line-height: 1.75; 
	font-weight: 300; 
	color: #332F21; 

	display: flex; 
	align-items: center; 
	justify-content: center; 

	min-height: 100vh; 
	padding: 2rem; 

	
	background-position: center center;
	background-size: cover;
	background-image: linear-gradient(#ff5b5b, #f58936), url('Illustration9.png'); 
	background-blend-mode: multiply; 
}





h1 {
	font-family: 'Roboto Slab', serif; 
	font-weight: 700; 
	font-size: 2.25rem; 
	line-height: 1.3333; 
}

.card {
	display: flex; 
	flex-direction: column; 

	max-width: 62rem; 
	min-height: 75vh; 

	background-color: rgba(248, 242, 242, 0.629); 
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
}

	.card__image-container {
		max-height: 15rem; 

		background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/0d/Joaqu%C3%ADn_Torres_Garc%C3%ADa_-_Am%C3%A9rica_Invertida.jpg');
		background-size: cover; 
		background-position: center center; 
	}

	.card__image2-container {
		height: 50rem;

		background-image: url('Decolonialidade\,\ Educação\ e\ Antirracismo\ -\ capa.jpeg');
		background-size: cover; 
		background-position: center center; 
	}
	
	

	.card__image {
		opacity: 0; 
		pointer-events: none; 
	}

	.card__contents {
		display: flex; 
		flex-direction: column; 

		padding: 2rem;
	}

	.card__header,
	.card__footer {
		flex: 0 0 auto; 
	}

	.card__footer {
		margin-top: 2rem; 
		text-align: right; 
	}

	.card__body {
		flex: 1 1 auto; 
	}


	.card__title {
		margin-top: 0; 
	}

@media only screen and (min-width: 53rem) { 

	.card {
		flex-direction: row; 
		min-height: 60vh;
	}

		.card__image-container {
			flex: 0 1 45%; 
			max-height: inherit; 
		}

		.card__contents {
			flex: 1 1 55%;
			padding: 3rem; 
		}

}



/* Social icons based on: codepen.io/matchboxhero/pen/onzkC */

[class^="icon--"] {
    font-family: 'FontAwesome'; 
    font-style: normal; 
}

[class^="social-button"] {
   	display: inline-flex; 
	align-items: center; 
	justify-content: center; 

   	height: 3rem; 
    width: 3rem; 

   	font-size: 1.4rem; 
    color: white; 
    border-radius: 50%; 

    text-decoration: none; 

    transition: background-color 150ms ease-in-out; 

    margin-right: 0.1rem;
}

.icon--twitter::before {
    content: '\f099'; 
}

.icon--instagram::before {
    content: '\f16d'; 
}

.icon--pintrest::before {
    content: '\f231'; 
}

.social-button--twitter {
    background-color: #32b9e7; 
}

.social-button--twitter:hover {
    background-color: #2a9dc4; 
}

.social-button--instagram {
    background-color: #e700ad; 
}

.social-button--instagram:hover {
    background-color: #a0007d; 
}

.social-button--pintrest {
    background-color: #d63533; 
}

.social-button--pintrest:hover {
    background-color: #b52d2b; 
}


.menu-button {
	display: flex; 
	justify-content: center; 
	align-items: center; 

	width: 4rem; 
	height: 4rem; 
	border-radius: 50%; 
	background-color: rgba(41, 41, 41, 0.438); 
	cursor: pointer;

	transition: background-color 500ms ease-in-out; 
}

.card__image-container .menu-button {
	margin: 1.5rem;
}

.menu-button:hover,
.menu-button:focus,
.menu-button:active {
    background-color: rgba(0,0,0,0.8); 
}

.menu-icon {
	position: relative; 
    width: 2rem; 
	height: 1.5rem; 
}

.menu-icon span {
    position: absolute; 
    height: 0.125rem; 
    width: 100%;
    background-color: #332F21;
    transition: background-color 500ms ease-in-out; 
}

.menu-icon span:nth-child(1) {
    top: 0.0625rem; 
}

.menu-icon span:nth-child(2) {
    top: 0.625rem; 
}

.menu-icon span:nth-child(3) {
    top: 1.25rem; 
}

.menu-button:hover span,
.menu-button:focus span,
.menu-button:active span {
    background: white; 
}



.menu-icon.is-active span:nth-child(1) {
    opacity: 0; 
}

.menu-icon.is-active span:nth-child(2) {
    transform: rotate(45deg); 
}

.menu-icon.is-active span:nth-child(3) {
	top: 0.625rem; 
    transform: rotate(-45deg); 
}

/* Fullscreen Menu */

.fullscreen-menu-container {
	position: fixed; 
	top: 12.5rem; 
	left: 0; 
	z-index: 5; 
	width: 100vw; 
	height: 100vh; 
	overflow: scroll; 

	background-color: rgba(255,255,255,0.95); 

	opacity: 0; 
	pointer-events: none; 

	transition: top 500ms ease-in, opacity 300ms ease-in; 
}

.fullscreen-menu-container.is-open {
	opacity: 1; /* Transition opacity from 0 to 1 */
	top: 0; /* Transition to the top of the viewport */
	pointer-events: auto; /* Re-add pointer events to elements can be clicked again */
}

.fullscreen-menu-container .menu-button {
	position: absolute; /* Position the button absolutely to the image-cotainer */
	top: 1.5rem; /* Position button from the top */
	right: 1.5rem; /* Position button from the left */
}

.fullscreen-menu {
	text-align: center; /* Apply text-align center to all children */
	max-width: 62rem; /* Maximum width of the content */
	padding: 6rem 2rem 4rem; /* Add padding to the content, large at the top to allow for the close button */
	width: 100%; /* Where it can, stretch to the max-width otherwise, the full viewport */
}

	.fullscreen-menu__image-container {
		width: 5rem; /* Make square */
		height: 5rem; /* Make square */
		border-radius: 50%; /* Turn the square into a circle */
		background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/0d/Joaqu%C3%ADn_Torres_Garc%C3%ADa_-_Am%C3%A9rica_Invertida.jpg'); /* Apply the image as the background */
		background-size: cover; /* Force the background image to cover the container */
		background-position: center center; /* Position the image in the middle */
		margin: 0 auto 1.5rem;
	}

	.fullscreen-menu__title {
		max-width: 30rem; /* Apply a different max-width to the title to achieve a more optimal reading lenght */
		margin: 0 auto; /* Position in the horizontal center and remove top and bottom margins */
	}

	.fullscreen-menu__nav {
		margin: 3rem 0; /* Apply top and bottom margin of the navigation */
	}

	.fullscreen-menu__nav ul {
		list-style: none; /* Remove the dots from list items */
		margin: 0; /* Remove defualt margin */
		padding: 0; /* Remove default padding */
	}

	.fullscreen-menu__nav a {
		display: block; /* Span the whole width */
		font-size: 1.4rem; /* Increase the default font size */
		padding: 1rem; /* Add padding to the button to increase the click/tap area */
		color: #A2A2A2; /* Apply light grey colour */
		text-decoration: none; /* Remove default underline */
		transition: color 300ms ease-in; /* Add transition for the colour on hover */
	}

	.fullscreen-menu__nav a:hover,
	.fullscreen-menu__nav a:focus,
	.fullscreen-menu__nav a:active {
		color: #332F21; /* Darken the text colour on hover */
	}

.fullscreen-menu [class^="social-button"] {
	margin: 0 0.5rem; /* Add a larger margin between the social buttons in the menu overlay */
	height: 3.75rem; /* Increase the size of the social buttons */
    width: 3.75rem; /* Increase the size of the social buttons */
    font-size: 1.5rem; /* Increase the size of the social icon inside the button */
}

@media only screen and (min-width: 46rem) { /* When the viewport is large enough */

	.fullscreen-menu-container {
		display: flex; /* Add display flex to the container */
		justify-content: center; /* Align menu contents to the center horizontally */
		align-items: center; /* Align menu contents to the center vertically */
	}

	.fullscreen-menu {
		padding: 0;
	}

	.fullscreen-menu__nav {
		margin: 4rem 0; /* Increase the margin between the navigation and other elements in the menu */
	}

		.fullscreen-menu__nav ul {
			display: flex; /* Turn the unordered list into a flex-container */
			justify-content: space-between; /* Share the available space between the list items */
		}

}